<ion-content [fullscreen]="true">
  <div class="div-inner ion-padding">
    <span>Login</span>

    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="password" placeholder="Senha" [(ngModel)]="userLogin.senha"></ion-input>
    </ion-item>

    <div class="div-buttons">
      <ion-button class="ion-margin-top" (click)="login()" color="light">
        Entrar
      </ion-button>
      <ion-button class="ion-margin-top" href="./cadastro" color="primary">
        Cadastrar
      </ion-button>
    </div>
  </div>
</ion-content>