.div-inner {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.div-buttons {
    width: 100%;
    // display: block;
}

.div-buttons button {
    width: 100%;
}

.fullheight {
    height: 100%;
}
  
.xc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.purple-back {
    --background: #5260ff;
}

ion-title {
    text-align: center;
}