<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="eventos">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meus-eventos">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Meus Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entradas">
      <ion-icon name="balloon-outline"></ion-icon>
      <ion-label>Entradas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="show-perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>