<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/eventos"></ion-back-button>
      <ion-title>Evento</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message">
  <ion-item>
    <ion-icon name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ message.nome }}
        <span class="date">
          <ion-note>{{ message.data_inicio }}</ion-note>
        </span>
      </h2>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    <ion-row>
      <ion-col col-12>
        <b>Data: </b>{{ message.data_inicio + ' - ' + message.data_fim }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <b>Valor da Entrada: </b>b>{{ message.valor_entrada }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <b>Local: </b>{{ message.endereco ? message.endereco : ' - '}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <b>Cidade:</b> {{ message.cidade + ' - ' + message.estado }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <b>Descrição:</b> {{ message.descricao }}
      </ion-col>
    </ion-row>
    <ion-grid class="div-buttons button-participar">
      <ion-row>
        <ion-col text-center>
          <ion-button type="submit" (click)="submit()" color="primary" expand="full" shape="round">Participar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
